body
{
font-size: medium;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1
{
font-size: x-large;
font-family: "Comic Sans MS", serif;
text-align: center;
color: navy;
}
.bloc2 h1
{
text-decoration: underline;
}
h2
{
font-size: large;
font-family: fantasy, serif;
font-style: italic;
text-align: left;
color:purple;
}
section
{
opacity: 0.8;
}
.bloc0
{
text-align: justify;
background-color: powderblue;
border: double;
border-radius: 10px;

}
.bloc1
{
text-align: left;
background-color: rgb(157, 233, 229);
border:inset ;
border-radius: 10px;



}
.bloc2
{
text-align: justify;
background-color: skyblue;
border: medium;
border-radius: 5%;
position: relative;
right: 0%;
top: 0%;

}
